body {
    background-color: rgb(245, 242, 242);
    font-family: 'Courier New', Courier, monospace;
}

ul {
    align-items: center;
}

.listItem {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 5px;
}

.todos {
    font-size: 7em;
    
    color: rgb(93, 4, 4);
    text-align: center;
}

.page {
    background-color: white;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 10px #888888;

}

input {
    border: none;
}
